<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory="/tmp/phpunit"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutCoverageMetadata="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
>
    <coverage/>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Arnapou Test Suite">
            <directory>./test_php/</directory>
        </testsuite>
    </testsuites>
</phpunit>
