<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         colors="true"
         bootstrap="test_php/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutCoverageMetadata="false"
>
    <coverage/>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Arnapou Test Suite">
            <directory>./test_php/</directory>
        </testsuite>
    </testsuites>
</phpunit>
